<!-- <h1>Day la header</h1> -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div
        class="btn-group"
        role="group"
        aria-label="Basic outline example"
        id="menu-header"
      >
        <button class="btn btn-primary" onclick="location.href='/home'">
          Home
        </button>
        <button class="btn btn-primary" onclick="location.href='/date'">
          Date
        </button>
        <button class="btn btn-primary" onclick="location.href='/getURL'">
          Url
        </button>
        <button class="btn btn-primary" onclick="location.href='/ejs'">
          Ejs
        </button>
        <button class="btn btn-primary" onclick="location.href='/about'">
          About
        </button>
      </div>
    </div>
  </nav>
</header>
